.chattingBox {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 5px;
  gap: 3px;

  background-color: white;
  border-radius: 8px;

  .chatting {
    width: 100%;
    height: 95%;
    overflow: auto;

    display: flex;
    flex-direction: column;
  }
}
