.chattingInput {
  width: 100%;
  height: 35px;
  // border: 1px solid rgba(18, 1, 1, 0);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1px;

  form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;

    input {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.408);
      border-radius: 5px;
      padding: 3px;
    }
  }
}
