.systemMessage {
  color: red;
  padding: 3px;
  white-space: normal;
  word-wrap: break-word;
  font-weight: bold;
}

.userMessage {
  padding: 3px;
  white-space: normal;
  word-wrap: break-word;
}
