.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: gray;
  opacity: 0.8;
}
